
.DS_Store
Thumbs.db
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.pid
*.seed
*.pid.lock

.vscode/
.idea/
*.swp

node_modules/
dist/
build/
coverage/
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

.pm2/

*.tsbuildinfo

frontend/node_modules/

frontend/dist/
frontend/.angular/
.angular/

frontend/.npm/
frontend/*.log
frontend/.env
frontend/src/environments/environment.ts
frontend/src/environments/environment.prod.ts

docker-data/
mysql-data/
**/data/
**/db_data/
mysql

*.tar

#*.sql
*.bak
*.dump

backups/
scripts/backups/*
!scripts/backups/backup.sh   # permitimos incluir el script, no los resultados

tmp/
temp/
*.tmp
*.temp
.cache/
.cache-loader/

coverage/
nyc_output/
junit.xml
test-results/

*.iml
*.tgz
*.orig
*.rej
*.swp
*.swo